div(ng-include src="'app/modules/core/header.html'")
.container
  .row
    div(ng-bind-html='vm.pageContent')
.footer
  p Copyright © Oxfordshire Community Churches
  p Registered Charity 1056921
  p A company limited by guarantee, registered in England and Wales, number 3223210.
